.navbar-brand {
margin-left: 5%;

}

.container-fluid {
background-color: white;
height: 100%;
width: 100%;
padding-bottom: 50px;


}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: left;
    border-top: 8px solid #4aaaa5;

}


.bigholder {
height: 90%;
width: 1000px;
position: relative;
background: teal;
margin-top: 50px;
padding-top:30px;
padding-left: 30px;
padding-right: 30px;
max-width: 960px;
width: 90%;





}

.responsive {
    width: 100%;
    height: auto;
  }